@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Eoe_Zno_EB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_EB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;    
}

body{
    background-color: #fff;
}


/* 
black : #333333
light black : #555555
gray : #999999
cream : #f6f5ef
green1 : #1e3932
green2 : #00704a
green3 : #669900 (연두)
green4 : #10572F (Joyful)
brown : #2C2A29
*/

a{
    color: #333;
    text-decoration: none;
}
p{
    color: #333;
}

li{
    list-style: none;
}

img{
    vertical-align: top;
}

.button{
    color: #10572F;
    font-size: 14px;
    border: 2px solid #10572F;
    padding: 7px 10px;
    border-radius: 5px;
    transition: background-color 0.6s;
    display: inline-block;
}

.button:hover{
    background-color: #10572F;
    color: #fff;
    text-decoration: underline;
}



#container{
    position: relative;
}

#header{
    width: 100%;
    height: 123px;
    background-color: #f6f5ef;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 1000;
}

#header .header-container{
    width: 1100px;
    height: 123px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}


#header .header-container .logo{
    width: 75px;
    height: 75px;
    background-image: url(https://www.starbucks.co.kr/common/img/common/logo.png);
}

#header .header-container .nav{
    width: 1025px;
    height: 100%;
}


#header::after{
    content: '';
    width: 100%;
    height: 0px;
    /* height: 230px; */
    background-color: #2C2A29;
    position: absolute;
    left: 0;
    z-index:100;
    transition: all 0.3s;
}
#header.on::after{
    height: 230px;
}


/* top-nav */
.nav .top-nav{
    display: flex;
    justify-content: right;
    width: calc(100% - 50px);
    height: 51px;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 6px;
    z-index: 100;
}
.nav .top-nav > ul{
    display: flex;
    justify-content: right;
}
.nav .top-nav > ul > li{
    padding: 15px;

}
.nav .top-nav > ul > li > a{
    display: inline-block;
    line-height: 20px;
    font-size: 13px;
    color: #555;
    font-weight: 400;
}
.nav .top-nav > ul > li > a:hover{
    text-decoration: underline;
}
.nav .top-nav .search-bar{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 2px;
    background-color: #fff;
    border: 1px solid #999;
}
.nav .top-nav .search-bar .search-input{
    display: none;
}
.nav .top-nav .search-bar .search-input input{
    height: 27.5px;
    border: none;
}

.nav .top-nav .search-bar .search-icon{
    padding: 7px;
    cursor: pointer;
}


/* bottom-nav */
.nav .bottom-nav{
    width: 100%;
    height: 66px;
}
.nav .bottom-nav > ul{
    display: flex;
    justify-content: right;
    height: 100%;
}
.nav .bottom-nav > ul > li{
    height: 100%;
}
.nav .bottom-nav > ul > li > a{
    display: inline-block;
    padding: 0 20px;
    padding-top: 10px;
    box-sizing: border-box;
    height: 100%;
    font-size: 13px;
    font-family: 'Pretendard-Regular';
    vertical-align: top;
}
.nav .bottom-nav > ul > li > a:hover{
    background-color: #2C2A29;
    color: #669900;
    text-decoration: underline;
}


.subMenu{
    position: absolute;
    left: 0;
    width: 1100px;
    height: 230px;
    display: none;
    z-index: 1000;
}

.subMenu > ul{
    display: flex;
}
.subMenu > ul > li{
    width: 220px;
    padding-top: 20px;
    position: relative;
}
.subMenu > ul > li > a{
    font-size: 14px;
    color: #fff;
}
.subMenu > ul > li > a:hover{
    text-decoration: underline;
}
.subMenu > ul > li > ul{
    position: absolute;
    left: 0;
    top: 50px;
}

.subMenu > ul > li > ul > li > a{
    font-size: 12px;
    line-height: 22px;
    color: #999;
}
.subMenu > ul > li > ul > li > a:hover{
    text-decoration: underline;
}






/* main Banner */
#mainBanner{
    width: 100%;
    height: 32vw;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_autumn_top_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 123px;
    z-index: 1;
}

.banner-title{
    position: relative;
    width: 40%;
}
.banner-title > h1{
    position: absolute;
    color: #10572F;
    width: 300px;
    font-size: 33px;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-family: 'Eoe_Zno_EB';
    line-height: 40px;
}
.banner-title > a{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    opacity: 0;
}


.banner-content{
    width: 60%;
    position: relative;
}
.banner-content .drink{
    position: absolute;
    opacity: 0;
}
.banner-content .drink > img{
    width: 100%
}

.banner-content .drink.drink1{
    width: 27%;
    top: 12%;
}
.banner-content .drink.drink2{
    width: 29%;
    top: 12%;
    left: 20%;
}
.banner-content .drink.drink3{
    width: 31%;
    top: 16%;
    left: 38%;
}




/* badge */
#badge{
    position: fixed;
    right: 30px;
    top: 160px;
    z-index: 900;
}

.badge{
    width: 140px;
    height: 96px;
    border-radius: 7px;
    display: block;
    margin-bottom: 16px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    font-size: 13px;
    text-align: center;
    font-weight: 600;

}
.badge > p{
    padding-top:10px ;
}
.badge.badge1{
    background-color: #E3F1EB;
    position: relative;
}
.badge.badge1 > p{
    color: #10572F;
}
.badge.badge1 > img{
    position: absolute;
    width: 80%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}
.badge.badge2{
    background-color: #081B25;
    position: relative;
}
.badge.badge2 > p{
    color: #fff;
}
.badge.badge2 > img{
    position: absolute;
    width: 80%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}




/* contents */
#contents{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#notice{
    width: 50%;
    height: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
#notice > h3{
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}
#notice .notice-right-side{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notice .notice-right-side .notice-slider{
    height: 16px;
    overflow: hidden;
}

#notice .notice-right-side .notice-slider .notice-container{
    height: 16px;
}

#notice .notice-right-side .notice-slider .notice-container .notice > p{
    font-size: 13px;
    color: #fff;
    background-color: #111;
    line-height: 16px;
}

#notice .notice-right-side > span{
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-right: 16px;
}
#notice .notice-right-side > span > a{
    color: #fff;
    font-size: 28px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
}


#promotion{
    width: 50%;
    background-color: #F6F5EF;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#promotion > h3{
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
#promotion > span{
    border: 1px solid #111;
    padding: 7px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-right: 16px;
}
#promotion > span > a{
    color: #111;
    font-size: 28px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    transform: rotate(90deg);
}


.promotion-view{
    width: 829px;
    margin: 0 auto;
    position: relative;
    display: none;
    background-color: #fff;    
}
.promotion-view .promotion-container{
    width: 300%;
    display: flex;
    background-color: #fff;
}
.promotion-view .promotion-container .promotion{
    width: 819px;
    margin: 0 5px;
}
.promotion-view .promotion-container .promotion > img{
    width: 819px;
}

.promo-title{
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    font-weight: 700;
    color: #372d28;
    margin: 20px 0;
}

.promo-title > span{
    font-weight: 700;
    color: #d89f00;
}

.promo-description{
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.promotion .button{ 
    width: 100px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    color: #222;
    border-color: #222;
    margin-bottom: 20px;
}
.promotion .button:hover{ 
    background-color: #222;
    color: #fff;
}

.promotion-view .opacity-box{
    position: absolute;
    width: calc((100vw - 819px)/2);
    height: 534px;
    background-color: #fff;
    opacity: 0.5;
}
.promotion-view .opacity-box.left{
    top: 0;
    left: calc(-1*(100vw - 819px)/2);
}
.promotion-view .opacity-box.right{
    top: 0;
    right: calc(-1*(100vw - 819px)/2);
}





/* reward */
#reward{
    width: 100%;
    height: 230px;
    background-color: #1e3932;
    box-sizing: border-box;
}

.reward-container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
    display: flex;
}
.reward-logo {
    width: 20%;
    margin-right: 30px;
}
.reward-logo > img{
    width: 176px;
}

.reward-contents{
    width: 80%;
}
.reward-contents .reward1{
    display: flex;
    border-bottom: 0.5px solid #fff;
    margin-bottom: 20px;
    position: relative;
}
.reward-contents .reward1 .reward1-text > h2{
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}
.reward-contents .reward1 .reward1-text > p{
    color: #fff;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 10px;
}

.reward-contents .reward1 .reward1-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.reward-contents .reward1 .reward1-btn .signup{
    border: 2px solid #00704a;
    background-color: #00704a;
    color: #fff;
}
.reward-contents .reward1 .reward1-btn .login{
    border: 2px solid #fff;
    color: #fff;
}
.reward-contents .reward1 .reward1-btn .login:hover{
    background-color: transparent;
}


.reward-contents .reward2{
    display: flex;
    justify-content: space-between;
}
.reward-contents .reward2 .reward2-text{
    line-height: 1.4;
}
.reward-contents .reward2 .reward2-text > p{
    color: #fff;
    font-size: 14px;
}
.reward-contents .reward2 .reward2-btn > a{
    color: #fff;
    border: 2px solid #fff;
}
.reward-contents .reward2 .reward2-btn > a:hover{
    background-color: transparent;
}





/* subBanner */
#subBanner{
    width: 100%;
    height: 900px;
}
#subBanner .subBanner1{
    width: 100%;
    height: 500px;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_autumn_promotion_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}
#subBanner .subBanner1 .subBanner1-img{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 28%;
}
#subBanner .subBanner1 .subBanner1-img > img{
    width: 100%;
}
#subBanner .subBanner1 .subBanner1-text{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
}
#subBanner .subBanner1 .subBanner1-text > p{
    font-size: 18px;
    color: #00704a;
    font-weight: 500;
    line-height: 1.4;
}
#subBanner .subBanner1 .subBanner1-text > h2{
    font-size: 32px;
    color: #1e3932;
    line-height: 1.6;
}
#subBanner .subBanner1 .subBanner1-text > a{
    padding: 7px 20px;
    margin-top: 30px;
}

#subBanner .subBanner2{
    width: 100%;
    height: 400px;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/230811_pc_reserve_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    display: block;
}
#subBanner .subBanner2 .subBanner2-text{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    text-align: center;
}
#subBanner .subBanner2 .subBanner2-text > p{
    color: #b68341;
    font-size: 14px;
}
#subBanner .subBanner2 .subBanner2-text > h2{
    color: #b68341;
    font-family: 'SF_HambakSnow';
    font-weight: 700;
    font-size: 65px;
}
#subBanner .subBanner2 .subBanner2-text > a{
    margin-top: 30px;
    color: #b68341;
    padding: 7px 20px;
    border: 2px solid #b68341;
}
#subBanner .subBanner2 .subBanner2-text > a:hover{
    background-color: #b68341;
    color: #000;
}
#subBanner .subBanner2 .subBanner2-img{
    height: 400px;
    position: absolute;
    right: -10%;
    transform: translateX(-50%);

}
#subBanner .subBanner2 .subBanner2-img > img{
    height: 400px;
}






/* footer */
#footer{
    width: 100%;
    height: 450px;
    background-color: #2C2A29;
    padding: 20px 100px;
    box-sizing: border-box;
}

#footer a{
    font-size: 12px;
}

.footer-menu{
    width: 100%;
    height: 200px;
    
}
.footer-menu > ul{
    display: flex;
}
.footer-menu > ul > li{
    width: 180px;
}
.footer-menu > ul > li > a{
    line-height: 28px;
    color: #fff;
}
.footer-menu > ul > li > ul > li > a{
    line-height: 20px;
    color: #fff;
}

.copyright{
    width: 100%;
    text-align: center;
}

.copyright > ul{
    display: flex;
    flex-wrap: wrap;
}
.copyright > ul > li > a{
    color: #fff;
    padding-right: 10px;
}
.copyright-special{
    color: #00b050;
}

.copyright .button{
    color: #fff;
    border-color: #fff;
    width: 80px;
    text-align: center;
}
.copyright .button:hover{
    background-color: transparent;
}
.copyright > p{
    color: #555;
    font-size: 12px;
    line-height: 36px;
}




.popup{
    width: 500px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 7px 7px 10px rgba(0,0,0,0.15);
    display: none;
}
.popup > h2{   
    margin-bottom: 20px;
}
.popup > h3{
    padding: 10px;
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
    margin-bottom: 20px;
}
.popup > p{
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 20px;
    border-bottom: 1px solid #d6d6d6;
}
.popup > a{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    color: #777;
}
.popup > a:hover{
    color: #00704a;
    text-decoration: underline;
}